In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2021-03-04 20:42:55,-34.4187,19.2345,59.00,91,79,6.51
1,1,Cap Malheureux,MU,2021-03-04 20:42:55,-19.9842,57.6142,75.00,81,78,4.00
2,2,Busselton,AU,2021-03-04 20:42:55,-33.6500,115.3333,66.99,99,87,6.78
3,3,Sharjah,AE,2021-03-04 20:42:55,25.3573,55.4033,78.80,56,0,2.30
4,4,Hithadhoo,MV,2021-03-04 20:42:56,-0.6000,73.0833,82.83,70,72,8.77

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=250, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cap Malheureux,MU,2021-03-04 20:42:55,-19.9842,57.6142,75.00,81,78,4.00
3,3,Sharjah,AE,2021-03-04 20:42:55,25.3573,55.4033,78.80,56,0,2.30
4,4,Hithadhoo,MV,2021-03-04 20:42:56,-0.6000,73.0833,82.83,70,72,8.77
15,15,Inirida,CO,2021-03-04 20:42:59,3.8653,-67.9239,88.29,58,63,2.55
17,17,Samarai,PG,2021-03-04 20:42:59,-10.6167,150.6667,82.31,70,100,11.45
21,21,Avarua,CK,2021-03-04 20:43:00,-21.2078,-159.7750,80.60,83,40,11.50
22,22,Namibe,AO,2021-03-04 20:43:00,-15.1961,12.1522,75.83,82,89,2.51
23,23,Lagos,NG,2021-03-04 20:43:00,6.5833,3.7500,84.20,84,20,10.36
26,26,Rikitea,PF,2021-03-04 20:43:01,-23.1203,-134.9692,79.99,76,44,3.15
31,31,Dhali,IN,2021-03-04 20:43:03,10.5000,77.1667,75.20,53,0,4.61

In [23]:
preferred_cities_df.count()

City_ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Cap Malheureux      MU     75.00 -19.9842   57.6142
3          Sharjah      AE     78.80  25.3573   55.4033
4        Hithadhoo      MV     82.83  -0.6000   73.0833
15         Inirida      CO     88.29   3.8653  -67.9239
17         Samarai      PG     82.31 -10.6167  150.6667
21          Avarua      CK     80.60 -21.2078 -159.7750
22          Namibe      AO     75.83 -15.1961   12.1522
23           Lagos      NG     84.20   6.5833    3.7500
26         Rikitea      PF     79.99 -23.1203 -134.9692
31           Dhali      IN     75.20  10.5000   77.1667